source https://nuget.org/api/v2

git git@github.com:ionide/ionide-helpers.git master build:"build.cmd"
git git@github.com:ionide/ionide-fsgrammar.git
nuget FAKE
nuget fantomas
nuget FunScript

# github borisyankov/DefinitelyTyped  text-buffer/text-buffer.d.ts
# github borisyankov/DefinitelyTyped  text-buffer/text-buffer.d.ts
# github borisyankov/DefinitelyTyped  q/Q.d.ts
# github borisyankov/DefinitelyTyped  jquery/jquery.d.ts
# github borisyankov/DefinitelyTyped  space-pen/space-pen.d.ts
# github borisyankov/DefinitelyTyped  emissary/emissary.d.ts
# github borisyankov/DefinitelyTyped  pathwatcher/pathwatcher.d.ts
# github borisyankov/DefinitelyTyped  text-buffer/text-buffer.d.ts
# github borisyankov/DefinitelyTyped  status-bar/status-bar.d.ts