# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#..
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'atom-workspace atom-text-editor:not([mini])[data-grammar~=fsharp]':
    'alt-enter': 'FSI:Send-Selection'
    'ctrl-space': 'fsharp:autocomplete'
    'cmd-space': 'fsharp:autocomplete'
    'f12': 'symbols-view:go-to-declaration'
    'alt-f12': 'symbols-view:return-from-declaration'
    'alt-up': 'fsharp:helptext-previous'
    'alt-down': 'fsharp:helptext-next'


'atom-workspace':
    'f5': 'FAKE:Build-Default'

'.platform-win32 atom-workspace atom-text-editor:not([mini])[data-grammar~=fsharp]':
    'alt-/':'FSI:Send-Line'

'.platform-darwin atom-workspace atom-text-editor:not([mini])[data-grammar~=fsharp]':
    'ctrl-cmd-l':'FSI:Send-Line'
