<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FunScript" version="1.1.93" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.emissary" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.jquery" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.lib" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.mixto" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.node" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.pathwatcher" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.q" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.space_pen" version="1.1.0.37" targetFramework="net45" />
</packages>